{
	"trailingComma": "none",
	"useTabs": true,
	"semi": true,
	"tabWidth": 2,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/providers/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/types/(.*)$",
		"^@/hooks/(.*)$",
		"^../(.*)$",
		"^./(.*)$",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}