.button {
	@apply relative w-[70px] h-[70px] rounded-xl flex justify-center items-center overflow-hidden cursor-pointer scale-75;
	box-shadow:  0 0px 30px rgba(255,255,255,0.08);
	
	span {
		@apply absolute w-10 h-1.5 bg-main-text rounded transition duration-500;
		&:nth-child(1) {
			@apply -translate-y-4 w-6 left-4;
			
		}
		&:nth-child(2) {
			@apply translate-y-4 w-6 left-4;
			
		}
	}
	&.active {
		span {
			&:nth-child(3) {
				@apply translate-x-16;
				
			}
			&:nth-child(1) {
				@apply w-10  translate-x-0   delay-100;
				
				transform:  rotate(45deg);
			
			}
			&:nth-child(2) {
				@apply w-10   translate-x-0  delay-200;
				
				transform: rotate(-45deg);
			
			}
		}
	}
	
}
